# Determining the Top 50 mutated genes in TCGA PanCanAtlas

**Gregory Way, 2018**

Using the MC3 mutation calling effort, determine the top 50 most mutated genes in the TCGA PanCanAtlas.
These genes will be input into an elastic net logistic regression model to predict mutation status.

In [1]:
import os
import pandas as pd

In [2]:
# Load data to build y matrices
base_url = "https://github.com/greenelab/pancancer/raw"
commit = "2a0683b68017fb226f4053e63415e4356191734f"

# Load data
file = "{}/{}/data/sample_freeze.tsv".format(base_url, commit)
sample_freeze_df = pd.read_table(file, index_col=0)

file = "{}/{}/data/pancan_mutation_freeze.tsv.gz".format(base_url, commit)
mutation_df = pd.read_table(file, index_col=0)

file = "{}/{}/data/vogelstein_cancergenes.tsv".format(base_url, commit)
gene_type_df = pd.read_table(file, index_col=0)

In [3]:
# Process gene classification (oncogene or tumor suppressor)
gene_type_df = gene_type_df.loc[:, 'Classification*']
gene_type_df = pd.DataFrame(gene_type_df).reset_index()
gene_type_df.columns = ['symbol', 'classification']
gene_type_df.head()

   symbol classification
0    ABL1       Oncogene
1  ACVR1B            TSG
2    AKT1       Oncogene
3     ALK       Oncogene
4     APC            TSG

In [4]:
# Reindex the mutation data to the frozen samples used
mutation_df = mutation_df.reindex(sample_freeze_df.SAMPLE_BARCODE)

In [5]:
# Identify the top 50 mutated genes
top_50_mutated_genes_df = mutation_df.sum().sort_values(ascending=False).head(50).reset_index()
top_50_mutated_genes_df.columns = ['gene', 'num_mutations']

top_50_mutated_genes_df = (
    top_50_mutated_genes_df
    .merge(gene_type_df, left_on='gene', right_on='symbol', how='left')
    .drop('symbol', axis='columns')
    .fillna('neither')
)

top_50_mutated_genes_df

       gene  num_mutations classification
0      TP53           3375            TSG
1       TTN           2841        neither
2     MUC16           1815        neither
3    PIK3CA           1290       Oncogene
4     CSMD3           1238        neither
5      RYR2           1184        neither
6     LRP1B           1178        neither
7     SYNE1           1135        neither
8       FLG           1041        neither
9     USH2A           1030        neither
10     PCLO            983        neither
11    ZFHX4            955        neither
12    DNAH5            913        neither
13    KMT2D            911        neither
14    OBSCN            897        neither
15    CSMD1            847        neither
16     FAT4            842        neither
17    SPTA1            833        neither
18    KMT2C            823        neither
19     FAT3            816        neither
20    XIRP2            814        neither
21    HMCN1            810        neither
22    GPR98            783        neither
23     RYR1            782        neither
24     RYR3            782        neither
25    MUC17            769        neither
26   ARID1A            754            TSG
27      NEB            751        neither
28   PCDH15            747        neither
29  PKHD1L1            744        neither
30      APC            733            TSG
31     PTEN            731            TSG
32     APOB            724        neither
33     LRP2            714        neither
34    DNAH9            707        neither
35    DNAH8            706        neither
36     SSPO            704        neither
37     KRAS            703       Oncogene
38   ABCA13            697        neither
39      DMD            692        neither
40     BRAF            687       Oncogene
41   AHNAK2            685        neither
42   DNAH11            680        neither
43    DNAH7            678        neither
44    MUC5B            670        neither
45    CSMD2            660        neither
46     FAT1            656        neither
47     XIST            652        neither
48  COL11A1            631        neither
49    SYNE2            629        neither

In [6]:
# Write to file
file = os.path.join('data', 'top50_mutated_genes.tsv')
top_50_mutated_genes_df.to_csv(file, sep='\t', index=False)